# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log
.env
*.env
venv/
env/
.venv/

# Django
media/
staticfiles/
db.sqlite3
*.sqlite3

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Backup
*.tar.gz
*.zip
*.rar
*.7z
backup/
*.backup
backend_backup_*/
mycloud_backup/
mycloud/

# System
.DS_Store
Thumbs.db
scp
tar
*.crt
*.key
*.pem

# Other
*.pyc
*.log