DEBUG=False
SECRET_KEY=django-insecure-change-this-in-production
DB_NAME=mycloud_db
DB_USER=mycloud_user
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1
FILE_STORAGE_PATH=/app/media/storage